body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background-color: #ffb400;
    color: #2d4059
}

#title {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 20px;
}

.contact {
    font-size: 14px;
    font-style: italic;
}

hr {
    background-color: #ffb400;
    margin: 0;
}

p {
    margin: 2px;
}

a {
    color: #2d4059
}

a:hover {
    color: white
}

.container {
    display: flex;
    height: 800px;
    overflow: hidden;
}

.sidenav {
    padding: 5px;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    background-color: #2d4059;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

ul {
    padding: 10px;
}

li {
    list-style: none;
    margin: 20px;
    font-family: 'Dancing Script';
    font-size: 30px;
    color: aliceblue;
}

li:hover {
    cursor: pointer;
    color: #ffb400;
}

.content {
    flex-shrink: 0;
    flex: 5;
    overflow-y: auto;
    height: 100%;
    padding: 20px;
    background-color: #4e709d;
    color: white;
}

.about {
    font-size: 18px;
    font-style: italic;
}

.section {
    margin: 20px 0;
    font-weight: 700;
    font-size: 22px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    vertical-align: top;
}

.ptitle {
    font-family: 'Dancing Script';
    font-size: 35px;
    margin-bottom: 10px;
}

.pdes {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.tech {
    font-size: 18px;
    margin: 20px 0;
}

.contactInfo {
    font-size: 20px;
    font-style: italic;
    color: white
}

.info {
    margin-top: 20px;
}

.infodet {
    margin-left: 30px;
}

.end {
    margin-bottom: 20px;
    font-size: 30px;
    padding: 20px
}